target/
.idea/
*.iml
.classpath
.project
.settings/
.venv/
__pycache__/
.pytest_cache/
data/voices/*
!data/voices/.gitkeep
.DS_Store
*.log
.env

data/moments/*
!data/moments/.gitkeep
*.class

data/files/*
!data/files/.gitkeep

data/wechat/voices/*
!data/wechat/voices/.gitkeep
data/wechat/files/*
!data/wechat/files/.gitkeep
data/wechat/moments/*
!data/wechat/moments/.gitkeep
